
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Alexandria', sans-serif;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
.header-nav{
    display: flex;
    justify-content: right;
}
.link:hover{
transform: translate(0,-3px);

}
.link{
transition: 0.6s;
}
header{
    background-color: #5E60CE;
}
/* -------------------------------------------------------------------- */
footer{
    background-color: black;
}
.lowlink:hover{

    color: #5E60CE;
    text-decoration: none;
}