@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');
*
{
    margin:0;
    padding:0;
}
body
{
    font-family: 'Cairo', sans-serif;
    background-image: linear-gradient(30deg , #7400B8, #5E60CE,  #48BFE3, #80ffdb7f );
}
html{
    scroll-behavior: smooth;
}
main
{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 79vh;
    
}
.about
{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse ;
    margin-top:5%;
    height: 80vh;
}
.oco{
    text-align: right;
    font-size: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right:5%;
    color:#434597;
}
.first_img
{
    width: 45%;
    animation:float infinite 5s;

}
.second_img
{
    position:absolute;
    animation:float 5s infinite;
    width:36%;
    margin-right:75%;
}
h1
{
    text-decoration:overline 1.5px;
}
@keyframes float
{
    0%{transform:translateY(0%)}

    50%{transform:translateY(-5%)}

    75%{transform:translatY(-10%)}

    100%{
        transform:translateY(0%)
    }
}
.second
{
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.second_div
{
    text-align: right;
    display:flex;
    justify-content:center;
    gap:13%;
    align-items: center;
    flex-direction:row-reverse;
    font-size:25px;
    border-radius: 15px;
    width: 100vw;
    height: 90vh;
    color:white;
}
.undraw
{
    width: 39%;
    animation:float 5s infinite;
}
.container_section
{
    font-size:30px;
    display:flex;
    justify-content: center;
    gap:5%;
    align-items: center;
    flex-direction: column;
    line-height: 50px;
    height: 50%;
}
.button
{
    position:relative;
    border: solid 1px black;
    border-radius:15px;
    width:35%;
    transition:0.3s;
    color:white;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.522);
    text-decoration: none;
}
.button:hover
{
    color:rgb(255, 255, 255);
    background-color:#00000000;
    border:solid 1px white;
}
#more:hover
{
    color:black;
}
#about_footer1{
    position: absolute;
    margin-top:18.4%;
    margin-left:38%;

}